@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
}

.modal-header .close {
  margin: -2.3rem -1rem -1rem;
}

.modal-content {
  width: 393px;
}

.carousel-control-prev-icon {
  background-color: grey;
}

.carousel-control-next-icon {
  background-color: grey;
}
